.Excel td {
  border-top: 1px solid black;
  cursor: cell;
  padding: 5px;
}

.Excel th {
  cursor: pointer;
  padding: 5px;
}

.Excel table {
width: 95%;
  border: 1px solid black;
  margin: 20px;
}

.Excel .toolbar {
  margin-left: 20px;
}

.Excel .toolbar a,
.Excel .toolbar button {
  background: #3498db linear-gradient(to bottom, #3498db, #2980b9);
  border-radius: 0.3em;
  border: 0;
  box-shadow: 0 1px 3px #666;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: 5px;
  padding: 10px 20px;
  text-decoration: none;
}

.Excel .toolbar a:hover,
.Excel .toolbar button:hover {
  background: #3cb0fd linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
