* {
  box-sizing: border-box;
}

html {
  background: white;
}

body {
  font-family: Helvetica Neue, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.6;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
}

input,
button {
  font: inherit;
}